{% include 'admin_header.html' %}

<center>
	<div class="allcontain">
	<div id="carousel-up" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner " role="listbox">
			<div class="item active">
				<img src="/static/image/lo.jpg" alt="oldcar" >
				<div class="carousel-caption">
					<h1 style="margin-left: 200px;">PAYMENTS</h1>
	<table class="table" style="width: 500px;margin-left: 300px">
		<tr>
			<th>Sl.No</th>
			<th>Requested For</th>
			<th>Amount</th>
			<th>Date</th>
		</tr>
		{% for row in data['pay'] %}
		<tr>
			<td>{{ loop.index }}</td>
			<td>{{ row['requestedfor'] }}</td>
			<td>{{ row['amount'] }}</td>
			<td>{{ row['date'] }}</td>
			
		</tr>
		{% endfor %}
	</table>
</center>
</div>
			</div>
			
		</div>
		</div>
</div>
{% include 'footer.html' %}