{% include 'admin_header.html' %}

<center>
	<div class="allcontain">
	<div id="carousel-up" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner " role="listbox">
			<div class="item active">
				<img src="/static/image/lo.jpg" alt="oldcar" >
				<div class="carousel-caption">
					<h1 style="margin-left: 200px;">USERS</h1>
	<table class="table" style="width: 500px;margin-left: 200px">
		<tr>
			<th>FirstName</th>
			<th>Lastname</th>
			<th>Place</th>
			<th>Phone Number</th>
			<th>Email</th>
			<th>Latitude</th>
			<th>Longitude</th>
		</tr>
		{% for row in data['user'] %}
		<tr>
			<td>{{ row['firstname'] }}</td>
			<td>{{ row['lastname'] }}</td>
			<td>{{ row['place'] }}</td>
			<td>{{ row['phone'] }}</td>
			<td>{{ row['email'] }}</td>
			<td>{{ row['latitude'] }}</td>
			<td>{{ row['longitude'] }}</td>
		</tr>
		{% endfor %}
	</table>
</center>
</div>
			</div>
			
		</div>
		</div>
</div>
{% include 'footer.html' %}