{% include 'center_header.html' %}

<center>
	<div class="allcontain">
	<div id="carousel-up" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner " role="listbox">
			<div class="item active">
				<img src="/static/image/i6.jpg" alt="oldcar">
				<div class="carousel-caption">
<h1 style="margin-left: 300px;">Service Center Home</h1><!-- <a href="admin_add_mechanic">Add Mechanic</a>
<a href="admin_view_mechanic">View Mechanic</a>
<a href="admin_view_sparepart">View Spare</a>
<a href="admin_view_user">Users</a>
<a href="admin_view_complaint">Complaints</a>
<a href="admin_view_payment">Payments</a>
<a href="admin_view_rating">Rating</a> -->
</center>
</div>
			</div>
			
		</div>
		</div>
</div>
{% include 'footer.html' %}