 required{% include 'public_header.html' %}
<div class="allcontain">
	<div id="carousel-up" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner " role="listbox">
			<div class="item active">
				<img src="/static/image/bike3.jpg" alt="oldcar">
				<div class="carousel-caption">

<form method="post" style="margin-top: -15em!important">
<center>
<h1 style="margin-left: 200px;">Login</h1>

<table class="table" style="width: 500px;margin-left: 300px">
	
	<tr>
		<th>Username</th>
		<td style="color: black;"><input type="text" name="username" class="form-control" required></td>
	</tr>
	<tr>
		<th>Password</th>
		<td style="color: black;"><input type="password" name="password" class="form-control" required></td>	
	</tr>
	<tr>
		<td align="center" colspan="2" ><input type="submit" name="submit" value="Login" class="btn btn-info"></td>
		
	</tr>
</table>
</center>
</form>
</div></div></div></div></div>
{% include 'footer.html' %}